<!DOCTYPE html>
<html>
  <head>
    <title>Jinx</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('jinx_logo_circle.png'), :rel => 'icon', :type =>  'image/png' %>

    <% if logged_in? %>
      <script type="text/javascript">
        window.current_user = 
        <%= render( "api/users/user.json.jbuilder", user: current_user ).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
      window.splashImage = "<%= image_url "potions.jpg" %>"
      window.navLogo = "<%= image_url "jinx_logo.png" %>"
      window.circleLogo = "<%= image_url "jinx_logo_circle.png" %>"
      window.hogwarts = "<%= image_url "hogwarts.jpg" %>"
      window.leakyCauldron = "<%= image_url "leaky_cauldron.jpg" %>"
      window.footer = "<%= image_url "mountain_footer.jpg" %>"
      window.broomstickRepair = "<%= image_url "broomstick_repair.jpg" %>"
      window.restaurant = "<%= image_url "restaurant.jpg" %>"
      window.curseRemoval = "<%= image_url "curse_removal.jpg" %>"
      window.wandShop = "<%= image_url "wand_shop.jpg" %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
