<!DOCTYPE html>
<html>
  <head>
    <title>JinxV2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if logged_in? %>
      <script type="text/javascript">
        window.current_user = 
        <%= render( "api/users/user.json.jbuilder", user: current_user ).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
